/SharedBuild/Debug/
/SharedBuild/Release/
/.vs/
/GameBoard/obj/
/NewConsoleApp/obj/
/OldConsoleApp/obj/
/.vs/GameBoard/v17/.suo
/.vs/GameBoard/v17/DocumentLayout.backup.json
/.vs/GameBoard/v17/DocumentLayout.json
/.vs/GameBoard/FileContentIndex/7e422748-556e-470f-a6b7-a444837034c1.vsidx
/.vs/GameBoard/v17/.suo
/.vs/GameBoard/v17/DocumentLayout.backup.json
/.vs/GameBoard/v17/DocumentLayout.json
/.vs
/.vs/GameBoard
/GameBoard/obj/
/NewConsoleApp/obj
/OldConsoleApp/obj
/SharedBuild
